
<nav class="nav-bar">
    <figure class="icon">
        <a href="./index.html" style="all: unset;"><figcaption></figcaption></a>
    </figure>
    <div class="tab">
        <a href="http://localhost:8080/home/logo" method="GET" class="nav-bar-tab" id="nav-home"><i class="fa-solid fa-house">Home</i></a>
        <a href="http://localhost:8080/home/face" method="GET" class="nav-bar-tab" id="nav-resume"><i class="fa-solid fa-user">Resume</i></a>
        <a href="http://localhost:8080/home/logo" method="GET" class="nav-bar-tab" id="nav-project"><i class="fa-solid fa-briefcase">Project</i></a>
        <a href="./index.html" class="nav-bar-tab" id="nav-contact"><i class="fa-solid fa-address-book">Contact</i></a>
    </div>
</nav>