<% layout('layouts/boilerplate') -%>
<body>
    <div class="body-set">
        <div class="picture">
            <div class="profile-pic">
                <h2 class="title">Priyanshu Saini</h2>
            </div>
            <div class="basic-info">
                <p><i class="fa-solid fa-id-card-clip"></i>Web Developer</p>
                <p><i class="fa-solid fa-location-crosshairs"></i>Rajastha,India</p>
                <p><i class="fa-solid fa-envelope"></i>priyanshu9287@gmail.com</p>
                <p><i class="fa-solid fa-square-phone"></i>+91-8436075594</p>
            </div>
            <div class="skill">
                <h2><i class="fa-brands fa-artstation"></i>Skills</h2>
            </div>
        </div>
        <div class="content">

        </div>
    </div>
</body>
