<% layout('/layouts/boilerplate') -%>
<body>
    <div class="animation">
        <div class="anime">
            <div class="anime1">
                <div class="anime2">
                    <div class="anime3">
                        <div class="anime4">
                            <div class="anime5">
                                <div class="anime6">
                                    <div class="anime5a">
                                        <div class="anime6a">
                                            <p>Priyanshu</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="name">
                    CSSDesign
                </div>
            </div>
        </div>
    </div>
        
</body>