<% layout('layouts/boilerplate') -%>
<body>
    <div class="project-list">
        <select id="project">
            <option value="logo">CSS Logo</option>
            <option value="amazon">Amazon Clone</option>
            <option value="spotify">Spotify Clone</option>
            <option value="portfolio">Portfolio</option>
          </select>
    </div>
</body>